{% include 'header_and_footer/header.html' %}



  {% for i in lit %}
    <div class="card mb-3" style="max-width: 540px; background-color: orange">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{i.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p class="card-text">{{i.description}}</p>
          {% for tag in i.tags.all %}
          <p>#{{tag.name}}</p>
            {% endfor %}
          <p class="card-text"><small class="text-body-secondary">цена:{{ i.price }}</small></p>
          <a href="/book/{{i.id}}/">Детально</a>

        </div>
      </div>
    </div>
  </div>
    {% endfor %}
<button><a href="#">Литература</a></button>
<button><a href="#"></a>Манга</button>
<button><a href="#"></a>Детективы</button>



{% include 'header_and_footer/footer.html' %}